Web-ServicesProject-master/JediTournamentConsole/WebAppli/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54905/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" />
  <xs:element name="GetJediList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJediListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" minOccurs="0" name="GetJediListResult" nillable="true" type="q1:ArrayOfJediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStadeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStadeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" minOccurs="0" name="GetStadeListResult" nillable="true" type="q2:ArrayOfStadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" minOccurs="0" name="GetMatchListResult" nillable="true" type="q3:ArrayOfMatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" minOccurs="0" name="GetTournamentListResult" nillable="true" type="q4:ArrayOfTournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>