Web-ServicesProject-master/JediTournamentConsole/WebAppli/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.EntitiesWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJediWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JediWS" nillable="true" type="tns:JediWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJediWS" nillable="true" type="tns:ArrayOfJediWS" />
  <xs:complexType name="JediWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="Carac" nillable="true" type="tns:ArrayOfCaracteristiquesWS" />
          <xs:element minOccurs="0" name="IsSith" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JediWS" nillable="true" type="tns:JediWS" />
  <xs:complexType name="EntityObjectWS">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityObjectWS" nillable="true" type="tns:EntityObjectWS" />
  <xs:complexType name="ArrayOfCaracteristiquesWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaracteristiquesWS" nillable="true" type="tns:CaracteristiquesWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaracteristiquesWS" nillable="true" type="tns:ArrayOfCaracteristiquesWS" />
  <xs:complexType name="CaracteristiquesWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valeur" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaracteristiquesWS" nillable="true" type="tns:CaracteristiquesWS" />
  <xs:complexType name="ArrayOfStadeWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StadeWS" nillable="true" type="tns:StadeWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStadeWS" nillable="true" type="tns:ArrayOfStadeWS" />
  <xs:complexType name="StadeWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StadeWS" nillable="true" type="tns:StadeWS" />
  <xs:complexType name="ArrayOfMatchWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchWS" nillable="true" type="tns:MatchWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchWS" nillable="true" type="tns:ArrayOfMatchWS" />
  <xs:complexType name="MatchWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MatchWS" nillable="true" type="tns:MatchWS" />
  <xs:complexType name="ArrayOfTournoiWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TournoiWS" nillable="true" type="tns:TournoiWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournoiWS" nillable="true" type="tns:ArrayOfTournoiWS" />
  <xs:complexType name="TournoiWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TournoiWS" nillable="true" type="tns:TournoiWS" />
</xs:schema>